<%= stylesheet_link_tag "login.css" %>
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Gym time</h2>
        <form class="login-form">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">E-mail</label>
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "E-mail", autocomplete: "email" %>
          </div>
          <div class="actions">
            <%= f.submit "Wyślij mi hasło", class: "btn fitness-btn btn-2 mt-30" %>
          </div>
          <% end %>
          <br />
          <br />
          <%= render "devise/shared/links" %>
        </form>
      </div>
      <div class="col-md-8 banner-sec">
        <img class="d-block img-fluid" src="img/bg-img/bg_21.jpg">
      </div>
    </div>
  </div>
</section>
