<div class="row">
  <div class="col-12">
    <div class="contact-title">
      <h3>Zakup karnetu</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="contact-content">
      <h4>Kupujesz: <%= @product.name %></h4>
      <span><%= @product.description.gsub(/\n/, '<br/>').html_safe %></span>
      <p>Za kwotę: <strong><%= @product.price %> PLN</strong></p>
      <div class="contact-form-area">
        <%= form_for @order do %>
        <%= hidden_field_tag "product_id", params[:product_id]%>
        <div class="form-group">
          <%= date_field_tag :date_from, '', placeholder: 'Wybierz datę aktywacji' %>
        </div>
        <%= submit_tag "Zamow", class: "btn fitness-btn btn-2 mt-30" %>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('.datetimepicker-input').datetimepicker();
    });
  </script>
</div>
