<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gym_Time app <3</title>
  <link rel="icon" href="img/core-img/favicon.ico">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="preloader">
    <i class="circle-preloader"></i>
  </div>
  <%= render partial: "/shared/header" %>
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
      <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg1.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-9">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">LEPSZA WERSJA SIEBIE !</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Bądź atrakcyjną,zdrową i pełną energii osobą. Wszystko to możesz osiągnąc za pomocą ćwiczeń fizycznych.</p>
                <%= link_to "Dołącz do nas", new_user_registration_path, class:"btn fitness-btn wel-btn", data_animation:"fadeInUp" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-9">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">TRENING CZYNI MISTRZA!</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Aby osiągnąć wymarzony sukces,potrzebujesz tylko chęci.</p>
                <a href="#zajecia" class="btn fitness-btn wel-btn" data-animation="fadeInUp" data-delay="700ms">Lista zajęć</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-3.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-9">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">SPORTOWE ŻYCIE  DŁUGIE ŻYCIE</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Badania wskazują, że ćwiczenia fizyczna mogą wydłużyć długość życia oraz jego jakość.</p>
                <a href="#karnety" class="btn fitness-btn wel-btn" data-animation="fadeInUp" data-delay="700ms">Karnety</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="fitness-adds-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-add-area mt-100">
            <a href="#"><img src="img/bg-img/OPEN_FREE.gif" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="single-add-area mt-100">
            <a href="#"><img src="img/bg-img/discount_30%.gif" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h6>Gym_time</h6>
            <h2>Dla kogo jest siłownia?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="about-text">
                <p>Siłownia to miejsce dla tych, którzy chcą ćwiczyć, zadbać o swoją atrakcyjność, poprawić samopoczucie i co najważniejsze, zadbać o zdrowie. Siłownia to miejsce dla każdej osoby niezalężnie od płci. Dla osób po urazach, bo to właśnie liczne ćwiczenia siłowe (odpowiednio dobrane i wykonywane) odgrywają wielką rolę w powrocie do sprawności po rozmaitych wypadkach. </p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="about-text"></div>
            </div>
            <div class="col-12">
              <div class="about-btn-group mt-50">
                <%= link_to "Dołącz do nas", new_user_registration_path, class: "btn fitness-btn mr-3" %>
                <a href="#" class="btn fitness-btn btn-2">Sprawdź ofertę</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="about-thumb">
            <img src="img/bg-img/fitness-png-3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="zajecia" class="fitness-services-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <% @activities.each do |activity| %>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service-area mb-100">
            <div class="course-content d-flex align-items-center">
              <div class="course-icon d-flex align-items-center justify-content-center">
                <%= image_tag(activity.image) unless activity.image.blank? %>
              </div>
              <h4><%= activity.name %></h4>
            </div>
            <p><%= activity.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="karnety" class="fitness-pricing-table-area section-padding-100-0 bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg-7.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <% @products.each do |product| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-price-table mb-100">
            <%= image_tag(product.image) unless product.image.blank? %>
            <div class="price-table-content">
              <h2 class="price">
                <%= product.price %>zł<span>/ Miesiąc</span>
              </h2>
              <h5><%= product.name %></h5>
              <p><%= product.description.gsub(/\n/, '<br/>').html_safe %></p>
              <%= link_to "KUP TERAZ", new_order_path(product_id: product.id), class: "btn fitness-btn mt-30" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="fitness-working-hours-area section-padding-100-0">
    <div class="container"></div>
  </div>
  <%= render partial: '/shared/footer' %>
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <script src="js/plugins/plugins.js"></script>
  <script src="js/active.js"></script>
</body>
</html>
