<link rel="stylesheet" type="text/css" href="css/login.css">

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
      <h2 class="text-center">Gym time</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="form-group">
          <label for="exampleInputEmail1" class="text-uppercase">E-mail</label>
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "E-mail", autocomplete: "email" %>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1" class="text-uppercase">Password</label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", placeholder: "Hasło", autocomplete: "new-password" %>
        </div>


        <div class="form-check">
          <%= f.submit "Zaloguj się", class: "btn btn-login float-right" %>
        </div>
      <% end %>
      <br />
      <br />
      <br />
  <%= render "devise/shared/links" %>
  </div>

      <div class="col-md-8 banner-sec"></div>
    </div>
  </div>
</section>
