<section class="content-header">
  <h1>
    Zajęcia
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to dashboards_path do %><i class="fa fa-circle-o"></i> Dashboard <% end %></li>
    <li class="active">Zajęcia</li>
  </ol>
</section>
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Zajęcia w systemie</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nazwa</th>
              <th>Liczba miejsc</th>
              <th>Opis</th>
              <th>Opcje</th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.id %></td>
              <td><%= activity.name %></td>
              <td><%= activity.number_seats %></td>
              <td><%= truncate(activity.description, length: 80) %></td>
              <td>
                <%= link_to "Edycja", edit_activity_dashboards_path(id: activity.id) %>
                <% if current_user.role == "trener" %>
                  <%= button_to " | Przypisz mnie", attach_trainer_to_activity_dashboards_path(activity_id: activity.id) %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
