<section class="content-header">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Postęp aplikacji</span>
          <span class="info-box-number">70<small>%</small></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-pagelines"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Liczba zajęć</span>
          <span class="info-box-number"><%= @activities_count %></span>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sprzedane produkty</span>
          <span class="info-box-number"><%= @orders_count %></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Zarejestrowanych klientów</span>
          <span class="info-box-number"><%= @clients_count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Ostatnie 10 zamówień</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Produkt</th>
              <th>Kwota</th>
              <th>Data aktywacji</th>
              <th>Data zakończenia</th>
              <th>Zamawiający</th>
              <th>Data zamówienia</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.product.name %></td>
              <td><%= order.product.price %> PLN</td>
              <td><%= order.ticket&.start_date&.strftime('%d-%m-%Y') %></td>
              <td><%= order.ticket&.end_date&.strftime('%d-%m-%Y') %></td>
              <td><%= order.user.email %></td>
              <td><%= order.created_at.strftime('%H:%M (%d.%m.%y)') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
