<section class="content-header">
  <h1>
    Produkty
    <small>na sprzedaż</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to dashboards_path do %><i class="fa fa-circle-o"></i> Dashboard <% end %></li>
    <li class="active">Produkty</li>
  </ol>
</section>
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Produkty w systemie</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Produkt ID</th>
              <th>Nazwa</th>
              <th>Kwota</th>
              <th>Zniżka</th>
              <th>Opis</th>
              <th>Dni ważności</th>
              <th>Opcje</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.price %> PLN</td>
              <td><%= product.discount? ? "TAK" : "NIE" %></td>
              <td><%= truncate(product.description, length: 80) %></td>
              <td><%= product.days %></td>
              <td><%= link_to "Edycja", edit_product_dashboards_path(id: product.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-footer clearfix">
      <%= link_to "Dodaj nowy produkt", new_product_dashboards_path, class: 'btn btn-sm btn-info btn-flat pull-left' %>
    </div>
  </div>
</section>
